body{
    margin: 0%;
    background-image: url("img/piano.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.keys{
    
    display: flex;
    margin-top: 200px;
    justify-content:center;
    align-items:center
}
.key {
    border: 0.3rem solid rgb(202, 31, 159);
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all 0.07s; 
    text-align: center;
    text-shadow: 0 0 5px;
    width: 100px;
    background: rgba(0, 0, 0,0.4 alpha);
    text-shadow: 0, 0, 5px black;
    color: white;
    
}
.playing{
    transform: scale(1.1);
    border-color:#ffc600;
    box-shadow: 0 0 10px #ffc600;

}

kbd {
    display: block;
    font-size: 4rem;
}
.sound {
    font-size: 1.2rem ;
    text-transform: uppercase ;
    letter-spacing: 1px; 
    color: #ffc600

}